.profile_img {
    clip-path: polygon(7.94% 6.76%, 15.87% 9.79%, 22.65% 12.39%, 55.74% 1.8%, 90.2% 6.19%, 81.61% 23.47%, 98.4% 78.87%, 72.01% 98.5%, 48.74% 89.65%, 7.94% 98.5%, 32.54% 64.77%);
    animation: img_animation 4s linear infinite;
}

.dice {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 8px;
    bottom: 20%;
    left: 0;
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
    animation: rolling 6s linear infinite;
}

.dice .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.587);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    -webkit-text-stroke: 2px rgb(37, 194, 134);
    color: transparent;
    box-shadow: 0px 0px 5px rgb(255, 40, 29);
}

.dice .face:nth-child(1) {
    transform: translateZ(50px);
}

.dice .face:nth-child(2) {
    transform-origin: center right;
    transform: rotateY(90deg);
}

.dice .face:nth-child(3) {
    transform-origin: center center;
    transform: rotateY(180deg);
}

.dice .face:nth-child(4) {
    transform-origin: center left;
    transform: rotateY(-90deg);
}

.dice .face:nth-child(5) {
    transform-origin: top center;
    transform: rotateX(90deg);
}

.dice .face:nth-child(6) {
    transform-origin: bottom center;
    transform: rotateX(-90deg);
}

.loader {
    padding-left: 4px;
    display: inline-grid;
}

.loader:before,
.loader:after {
    content: attr(data-text);
    grid-area: 1/1;
    -webkit-mask-size: 100% 5px, 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: l35-1 1s infinite;
}


.loader:before {
    -webkit-mask-image:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
    left: 3px;
    text-shadow: -2px 0 red;
}

.loader:after {
    -webkit-mask-image:
        linear-gradient(#000 0 0);
    animation:
        l35-1 1s infinite,
        l35-2 .2s infinite cubic-bezier(0.5, 200, 0.5, -200);
    left: -3px;
    text-shadow: -2px 0 blue;
}

@keyframes l35-1 {
    0% {
        -webkit-mask-position: 0 20px, 0 0
    }

    20% {
        -webkit-mask-position: 0 8px, 0 0
    }

    40% {
        -webkit-mask-position: 0 100%, 0 0
    }

    60% {
        -webkit-mask-position: 0 3px, 0 0
    }

    80% {
        -webkit-mask-position: 0 15px, 0 0
    }

    100% {
        -webkit-mask-position: 0 0, 0 0
    }
}

@keyframes l35-2 {
    100% {
        transform: translate(0.1px)
    }
}

@keyframes rolling {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: rotateX(90deg) rotateY(90deg);
    }

    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }

    75% {
        transform: rotateX(270deg) rotateY(270deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.normal {
    padding-left: 5px;
    color: rgb(228, 228, 228);
}

.shake {
    text-shadow: 2px -3px 2px rgb(255, 40, 29), 3px -3px 2px rgb(101, 29, 255), 4px -3px 2px rgb(255, 72, 255);
    padding-left: 6px;
    color: rgb(27, 233, 151);
    animation: shake 0.5s linear infinite;
}

@keyframes shaking {
    0% {
        /* transform: translateX(0); */
        /* color: rgb(27, 233, 151); */
    }

    25% {
        /* transform: translateX(-5px); */
        padding-right: 5px;
    }

    50% {
        /* transform: translateX(5px); */
        padding-left: 5px;
        /* color: rgb(216, 59, 247); */
    }

    75% {
        /* transform: translateX(-5px); */
        padding-right: 5px;
    }

    100% {
        /* transform: translateX(0); */
        padding-left: 5px;
        /* color: rgb(89, 27, 233); */
    }
}

@keyframes img_animation {
    0% {
        clip-path: polygon(7.94% 6.76%, 15.87% 9.79%, 22.65% 12.39%, 55.74% 1.8%, 90.2% 6.19%, 81.61% 23.47%, 98.4% 78.87%, 72.01% 98.5%, 48.74% 89.65%, 7.94% 98.5%, 32.54% 64.77%);
    }

    50% {
        clip-path: polygon(2.46% 18.51%, 15.37% 1.8%, 33.96% 16.17%, 72.01% 6.78%, 92.19% 22.49%, 94.19% 56.07%, 96.18% 89.65%, 72.01% 98.5%, 48.74% 89.65%, 7.94% 98.5%, 30.49% 78.16%);
    }

    100% {
        clip-path: polygon(7.94% 6.76%, 15.87% 9.79%, 22.65% 12.39%, 55.74% 1.8%, 90.2% 6.19%, 81.61% 23.47%, 98.4% 78.87%, 72.01% 98.5%, 48.74% 89.65%, 7.94% 98.5%, 32.54% 64.77%);
    }

}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .text {
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    transform: scale(2);
    letter-spacing: 2px;
    padding: 30px;
}

.content .text:before,
.content .text:after {
    position: absolute;
    content: attr(data-text);
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    overflow: hidden;
}

.content .text:before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s 0s linear reverse infinite;

}

.content .text:after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s 0s linear reverse infinite;
}

@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }

    5% {
        clip: rect(17px, auto, 94px, 30px);
    }

    10% {
        clip: rect(40px, auto, 66px, 30px);
    }

    15% {
        clip: rect(87px, auto, 82px, 30px);
    }

    20% {
        clip: rect(137px, auto, 61px, 30px);
    }

    25% {
        clip: rect(34px, auto, 14px, 30px);
    }

    30% {
        clip: rect(133px, auto, 74px, 30px);
    }

    35% {
        clip: rect(76px, auto, 107px, 30px);
    }

    40% {
        clip: rect(59px, auto, 130px, 30px);
    }

    45% {
        clip: rect(29px, auto, 84px, 30px);
    }

    50% {
        clip: rect(22px, auto, 67px, 30px);
    }

    55% {
        clip: rect(67px, auto, 62px, 30px);
    }

    60% {
        clip: rect(10px, auto, 105px, 30px);
    }

    65% {
        clip: rect(78px, auto, 115px, 30px);
    }

    70% {
        clip: rect(105px, auto, 13px, 30px);
    }

    75% {
        clip: rect(15px, auto, 75px, 30px);
    }

    80% {
        clip: rect(66px, auto, 39px, 30px);
    }

    85% {
        clip: rect(133px, auto, 73px, 30px);
    }

    90% {
        clip: rect(36px, auto, 128px, 30px);
    }

    95% {
        clip: rect(68px, auto, 103px, 30px);
    }

    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}

@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }

    5% {
        clip: rect(36px, auto, 4px, 30px);
    }

    10% {
        clip: rect(85px, auto, 66px, 30px);
    }

    15% {
        clip: rect(91px, auto, 91px, 30px);
    }

    20% {
        clip: rect(148px, auto, 138px, 30px);
    }

    25% {
        clip: rect(38px, auto, 122px, 30px);
    }

    30% {
        clip: rect(69px, auto, 54px, 30px);
    }

    35% {
        clip: rect(98px, auto, 71px, 30px);
    }

    40% {
        clip: rect(146px, auto, 34px, 30px);
    }

    45% {
        clip: rect(134px, auto, 43px, 30px);
    }

    50% {
        clip: rect(102px, auto, 80px, 30px);
    }

    55% {
        clip: rect(119px, auto, 44px, 30px);
    }

    60% {
        clip: rect(106px, auto, 99px, 30px);
    }

    65% {
        clip: rect(141px, auto, 74px, 30px);
    }

    70% {
        clip: rect(20px, auto, 78px, 30px);
    }

    75% {
        clip: rect(133px, auto, 79px, 30px);
    }

    80% {
        clip: rect(78px, auto, 52px, 30px);
    }

    85% {
        clip: rect(35px, auto, 39px, 30px);
    }

    90% {
        clip: rect(67px, auto, 70px, 30px);
    }

    95% {
        clip: rect(71px, auto, 103px, 30px);
    }

    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}